extends layout

block content
  div(class="site-wrapper")

        div(class="site-wrapper-inner")

          div(class="cover-container")

            div(class="masthead clearfix")
             
            

            div(class="inner cover")
              h1(class="cover-heading") !{data.bittrex.name}
              p(class="lead") Last Sale: !{data.bittrex.last} BTC </br> Difference from yesterday: !{data.bittrex.difference} BTC
              
              h3 Slack Mentions:
              p !{data.slack}
              h3 Feels: #{data.sentiment.readable.magnitude} #{data.sentiment.readable.score}
              
              </br>
              
            

            div(class="mastfoot")
              div(class="inner")
                p William O'Brien-2017
         








             
          a(href="/" class="btn btn-lg btn-secondary") Go Back