extends layout

block content
  
  div(class="site-wrapper")

        div(class="site-wrapper-inner")

          div(class="cover-container")

            div(class="masthead clearfix")
             
            

            div(class="inner cover")
              h1(class="cover-heading") CRYPTO-FEELS
              p(class="lead") How is the market feeling right now?
              p() Choose a currency pair to find out!
                
                form(id='dropmenu' action='/crypto' method='get')
                  select(name='select') !{format}
                  </br>
                  input(type='submit' class="btn btn-lg btn-secondary")
            

            div(class="mastfoot")
              div(class="inner")
                p William O'Brien-2017
         




